MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.rk4resh.mongodb.net/mydatabase?retryWrites=true&w=majority
GITHUB_ID=<your-github-client-id>
GITHUB_SECRET=<your-github-client-secret>
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<your-random-secret>
