.buyButton {
    text-decoration: none;
    color: #ffffff;
    background-color: #fca431;
    border-radius: 6px;
    padding: 0.2rem;
    box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);
    width: 1.3rem;
}

.buyButton:hover,
.buyButton:active,
.buyButton:focus {
    box-shadow: 0px 1px 2px 2px rgb(248, 178, 87);
    opacity: 0.85;
    color: #ffffff;
}
