@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --ff-primary: "Ysabeau Infant", sans-serif;
}

html,
body {
    line-height: 1.4;
    font-size: 1.1rem;
    scroll-behavior: smooth;
    font-family: var(--ff-primary);
}

.contributor-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.contributor-images img {
    border-radius: 50%;
    object-fit: cover;
}

.markdown-content {
    background-color: #2d3748;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: "Courier New", Courier, monospace;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    font-weight: bold;
    margin-top: 1rem;
}

.markdown-content h1 {
    font-size: 1.5rem;
}

.markdown-content h2 {
    font-size: 1.3rem;
}

.markdown-content h3 {
    font-size: 1.1rem;
}

.markdown-content h4 {
    font-size: 1rem;
}

.markdown-content h5 {
    font-size: 0.9rem;
}

.markdown-content h6 {
    font-size: 0.8rem;
}

.markdown-content p {
    margin-bottom: 1rem;
}

.markdown-content a {
    color: #3182ce;
    text-decoration: underline;
}

.markdown-anchor * {
    pointer-events: none;
}
